/* GENERAL
-------------------------------*/
body{
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 100%;
    background:#99E5FF no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin: 0 0;
    padding: 0 0;
		
}

/* CONTACT PHOTO
-------------------------------*/
.contact-photo-container{
    box-sizing: border-box;
    position: absolute;
    right:50%;
    top: 0%;
    width: 50%;
    height: 100%;
    background: #F0EFEF;
}

.contact-photo-container img{
    
    width: 80%;
    max-width: 1600px;
    margin: 20% 10%;
}

/* CONTACT INFO
-------------------------------*/
.info-container{
    position: absolute;
    left: 55%;
    top: 25%;
    width: 40%;
    
}

.info-container p{
    
    font-size: 1.5em;
    border-bottom: 0.05em solid #FFFFFF;
    font-weight: 800;
    margin: 0 0 ;
    padding: 0 0;
    width: 60%;
}


.contact-container{
    float: left;
    line-height: 2;
    font-size: 1.2em;
}

.items{
    float: left;
    margin: 0.5em 0;
}

.items li{
    list-style: none;
    text-align: right;
}


.content{
    margin: 0.5em 0;
    float: right;
}

.content li{
    list-style: none;
    text-align: left;
}



/* FOLLOW INFO
-------------------------------*/
.follow-container{
    font-size: 1.2em;
    clear: left;
    line-height: 2;
}



.follow-icons li{
    display: inline-block;
    padding: 0 0.6em;
}



.follow-icons li:hover{
    transform: scale(1.2);
}


.follow-icons img{
    width: 2em;
    height: 2em;
}


/* W3C ICON
-------------------------------*/
.W3C-validate{
    position: absolute;
    bottom: 2%;
    left: 2%;
    width:0.6em;
}


