/* GENERAL
-------------------------------*/
.page{
    max-width: 2000px;
}

body{
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 100%;
    background: #E6F1E8 no-repeat center center fixed;
    
}

/* CONTACT PHOTO
-------------------------------*/
.contact-photo-container{
    float: left;
    position: absolute;
    left:10%;
    top: 25%;
}

.contact-photo-container img{
    max-width: 1616px;
    width: 40%;
}

/* CONTACT INFO
-------------------------------*/
.info{
    float: right;
    position: absolute;
    right: 20%;
    top: 20%;
    font-size: 1.2em;
    line-height: 2;    
}

p{
    display: block;
    border-bottom: 0.05em solid #FFFFFF;
    font-weight: 800;
}

.items{
    float:left;
}

.items li{
    list-style: none;
    text-align: right;
}


.content{
    float: right;
    
}

.content li{
    list-style: none;
    text-align: left;
}

/* FOLLOW INFO
-------------------------------*/
.follow-icons li{
    list-style: none;
    margin-left: 10em;
}

.follow-icons img{
    width: 1.5em;
    height: 1.5em;
}

.follow-icons img:hover{
    transform: scale(1.2);
}



/* W3C ICON
-------------------------------*/
.W3C-validate{
    position: absolute;
    bottom: 2%;
    left: 2%;
    width:0.6em;
}

/* FOOTER
-------------------------------*/
footer{
    display: block;
    position: absolute;
    bottom: 2%;
    color: #A2E0F5;
    font-size: 0.6em;
    right: 1%;
}
