/*home.css --- 
;; 
;; Filename: home.css
;; Description: 
;; 
;; Author:    Yu Lu
;; Email:     yulu@utexas.edu
;; Github:    https://github.com/SuperYuLu 
;; 
;; Created: Wed Dec 13 21:55:16 2017 (-0600)
;; Version: 
;; Last-Updated: Sun Jan 21 16:05:22 2018 (-0600)
;;           By: yulu
;;     Update #: 365
;; 
*/

/*--------
GENERAL
---------*/
:root{
    --color-gray1: #FBFBFB;
    --color-gray2: #F8F8F8;
    --color-gray3: #FFFFFF;
    --color-gray4: #FCFCFC;
    --color-gray-line: #ECECEC;
    --color-highlight: #4A60B9;
    --screen-width: 100vw;
    --screen-height: 100vh;
}

*{
    box-sizing: border-box;
}


html{
    background: white;
    color: black;
    font-size: calc(0.01 * var(--screen-width));
    font-family: sans-serif;
    line-height: 1.5rem;
        
}


a,
a :link{
    color: inherit;
    text-decoration: none;
}

a :active, 
a :visited {
    color: inherit;
    text-decoration: inherit;
}

/*-----------------
Row/Column Divider
------------------*/

.block-row{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    
}

.block-col{
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}


/*------
Content
------*/

.content .header{
    position: absolute;
    top: 1rem;
}

.content{
    height: var(--screen-height);
    justify-content: flex-start;
}

.content>:nth-child(2){
    flex:1 1 ;
    background: #F0EFEF;
    align-self: center;
}

.content>:nth-child(3){
    flex:1 1;
    background: #99E5FF;
    flex-flow: column wrap;
    font-size: 2rem;
}

.contact-img{
    width:80%;
    max-width: calc(0.4 * var(--screen-width));
    margin: auto;
}


.contact-container{
    margin: auto;
    padding: 0 0 0 10%;
    line-height: 100%;
}

.contact-container li{
    
    display: inline-block;
    padding: 0 0.5rem;
    
}

.contact-container img{
    width: calc(0.04*var(--screen-width));
}

.follow-icons li:hover{
    transform: scale(1.2, 1.2);
    
}
