<!-- about.html --- 
     ;; 
     ;; Filename: about.html
     ;; Description: 
     ;; 
     ;; Author:    Yu Lu
     ;; Email:     yulu@utexas.edu
     ;; Github:    https://github.com/SuperYuLu 
     ;; 
     ;; Created: Sat Dec 16 17:35:46 2017 (-0600)
     ;; Version: 
     ;; Last-Updated: Sun Jan 21 16:06:07 2018 (-0600)
     ;;           By: yulu
     ;;     Update #: 42
     ;; 
  -->
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "global-head.html" %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/contact.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename = "css/nav-bar.css") }}" >
    <link rel="stylesheet" href="{{ url_for("static", filename = "css/footer.css") }}" >
  </head>

  <body>
    
    
    <div class="block-row content">
      {% include "global-nav-bar.html" %}
      <div class="block-col ">
	<img class="contact-img" src="{{ url_for("static", filename="img/mypics/myphoto-contact.jpeg") }}" alt="my-funny-face">
      </div>

      <div class="block-col">
	<div class="contact-container">
	    <p><strong> Contact </strong></p>
	  <div class="contact-info block-row">
	  
	    <ul class="block-col">
	      <li>Country </li>
	      <li> State </li>
	      <li> Email </li>
	    </ul>
	    <ul class="block-col">
	      <li> United States </li>
	      <li> Texas, Travis County </li>
	      <li> physicsluyu@gmail.com </li>
	    </ul>
	  </div>

	  
	  <p><strong> Follow me </strong></p>
	  <ul class="follow-icons">
	    <li> <a href="https://github.com/SuperYuLu"> <img src="{{ url_for("static", filename = "img/icons/GitHub-Mark-64px.png") }}" alt="SuperYuLu@Github"> </a></li>
	    <li> <a href="https://www.linkedin.com/in/yu-lu-12b123a6/"> <img src="{{ url_for("static", filename = "img/icons/LinkedIn-Mark-64px.png") }}" alt="Yu Lu@LinkedIn"> </a> </li>
	    <li> <a href="https://www.facebook.com/SuperFasterLu"> <img src="{{ url_for("static", filename = "img/icons/Facebook-Mark-64px.png") }}" alt="Yu Lu@Facebook"> </a> </li>
	    <li> <a href="https://weibo.com/u/3516856650"> <img src="{{ url_for("static", filename = "img/icons/Sinaweibo-Mark-64px.png") }}" alt="luxiaoxia@sina"> </a> </li>
	  </ul>
	</div>
      </div>
    </div>
    {% include "global-footer.html" %}
  </body>

</html>
