<!-- global-nav-bar.html --- 
;; 
;; Filename: global-nav-bar.html
;; Description: 
;; 
;; Author:    Yu Lu
;; Email:     yulu@utexas.edu
;; Github:    https://github.com/SuperYuLu 
;; 
;; Created: Sun Dec 24 12:19:25 2017 (-0600)
;; Version: 
;; Last-Updated: Sun Jan 21 15:34:49 2018 (-0600)
;;           By: yulu
;;     Update #: 9
;; 
  -->

<div class="header">
  <ul>
    <li> <a href="/home/"> Home </a></li>
    <li> <a href="/blog/"> Blog </a></li>
    <li> <a href="/contact/"> Contact </a> </li>
  </ul>
</div>
