<!-- global-head.html --- 
;; 
;; Filename: global-head.html
;; Description: 
;;            Global head setting
;; Author:    Yu Lu
;; Email:     yulu@utexas.edu
;; Github:    https://github.com/SuperYuLu 
;; 
;; Created: Sat Dec 16 17:30:48 2017 (-0600)
;; Version: 
;; Last-Updated: Sun Dec 24 20:59:35 2017 (-0600)
;;           By: yulu
;;     Update #: 4
;; 
  -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for("static", filename = "css/normalize.css") }}" >
