<!-- global-nav-bar.html --- 
;; 
;; Filename: global-nav-bar.html
;; Description: 
;;            Navigation bar used acrossed web
;; Author:    Yu Lu
;; Email:     yulu@utexas.edu
;; Github:    https://github.com/SuperYuLu 
;; 
;; Created: Sun Dec 24 12:19:25 2017 (-0600)
;; Version: 
;; Last-Updated: Mon Jan 22 18:50:55 2018 (-0600)
;;           By: yulu
;;     Update #: 11
;; 
  -->

<div class="header">
  <ul>
    <li> <a href="/"> Home </a></li>
    <li> <a href="/blog/"> Blog </a></li>
    <li> <a href="/contact/"> Contact </a> </li>
  </ul>
</div>
