<!-- post.html --- 
;; 
;; Filename: post.html
;; Description: 
;;            blog post page 
;; Author:    Yu Lu
;; Email:     yulu@utexas.edu
;; Github:    https://github.com/SuperYuLu 
;; 
;; Created: Fri Dec 22 18:03:11 2017 (-0600)
;; Version: 
;; Last-Updated: Sun Jan 21 17:17:40 2018 (-0600)
;;           By: yulu
;;     Update #: 56
;; 
  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "global-head.html" %}
    <link rel="stylesheet" href="{{ url_for("static", filename = "css/post.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename = "css/nav-bar.css") }}" >
    <link rel="stylesheet" href="{{ url_for("static", filename = "css/footer.css") }}" >
    <title> Yu Lu - Blog </title>
  </head>

  <body>
    {% include "global-nav-bar.html" %}
    <div class="content">
      
      <div class="markdown">

	<div class="metadata">
	  <p> {{ post.date }} | {{ post.time }} | {{ post.category }} </p>
	</div>

	{{ post.html|safe }}
      </div>

      <div class="side">
	<h3> New posts </h3>
	<ul>
	  {% for p in posts %}
	  <li> {{ p.title }} </li>
	  {% endfor %}
	</ul>
	<h3> Categories </h3>
	<ul>
	  {% for cat in categoryStats %}
	  <li> {{cat}} ({{ categoryStats[cat] }}) </li>
	  {% endfor %}
	</ul>
	
      </div>
    </div>
    {% include "global-footer.html" %}
  </body>

</html>
